[submodule "third_party/airplay2-sender-cpp"]
	path = third_party/airplay2-sender-cpp
	url = git@github.com:HansKeksnascher/airplay2-sender-cpp.git
[submodule "third_party/mDNSResponder"]
	path = third_party/mDNSResponder
	url = https://github.com/apple-oss-distributions/mDNSResponder
	branch = main
[submodule "third_party/minimp3"]
	path = third_party/minimp3
	url = https://github.com/lieff/minimp3
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "third_party/libxaac"]
	path = third_party/libxaac
	url = git@github.com:HansKeksnascher/libxaac.git
	branch = main
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://github.com/xiph/ogg
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus
