[submodule "third_party/airplay2-sender-cpp"]
	path = third_party/airplay2-sender-cpp
	url = git@github.com:HansKeksnascher/airplay2-sender-cpp.git
[submodule "third_party/mDNSResponder"]
	path = third_party/mDNSResponder
	url = https://github.com/apple-oss-distributions/mDNSResponder
	branch = main
[submodule "third_party/minimp3"]
	path = third_party/minimp3
	url = https://github.com/lieff/minimp3
